:global .action-icon:hover:not([disabled]) {
    cursor: pointer;
    color: tomato;
}

.svg-icon {
    display: inline-block;
	height: 1em;
}


/*
 * Spinner from https://loading.io/css/
 */
.spinner {
    display: inline-flex;
	position: relative;
	width: 80px;
	height: 22px;
	align-items: center;
}

.spinner div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #aaa;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.spinner div:nth-of-type(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.spinner div:nth-of-type(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.spinner div:nth-of-type(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.spinner div:nth-of-type(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}