.select {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}

.default-select {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 1em;
	min-height: 1em;
	cursor: pointer;
}

.default-select:hover {
	color: tomato;
}

.dropdown {
	position: absolute;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 9;
	box-sizing: border-box;
}

.dropdown:focus {
	outline: none;
}
