.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border: 1px solid rgb(203 213 225);
	border-radius: 0.5rem;
}

.main:hover {
	border-color: #0074d9;
}

.main * {
	box-sizing: border-box;
}

.main:focus-within {
	outline: 0;
	box-shadow: 0 0 0 3px rgba(0, 116, 217, 0.2);
}

.main :global .input {
	padding: 0.5rem;
	width: 100%;
	background: transparent;
	position: relative;
	font-family: inherit;
	border: none;
	resize: none;
}

.main :global .input:focus {
	box-shadow: none;
}

.main :global .clear {
	margin-left: 5px;
	font-size: larger;
}

.main :global .mirror {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: transparent;
}

.main :global mark {
	color: red;
	text-decoration: line-through;
	background-color: inherit;
}
